.swiper {
    width: 100%;
    height: 100%;
  }
.swiper-slide {
    background: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
  }
.cars-swiper-two img{
    width: 500px;
    height: 450px;
    object-fit: initial;
    margin-top: -50px;
}
.cars-swiper{
    padding: 0 ;
    margin-bottom: 20px !important;
}

.wrapper {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 30px;
    cursor: pointer;
}

.card {
    margin-top: 50px;
    padding: 15px;
    border-radius: 20px;
    transition: .8s ease;
    box-shadow: rgb(63, 62, 62) 0px 0px 10px;
}
